@font-face {
    font-family: "Provicali";
    src: local("Provicali"),
      url("./fonts/Provicali.ttf") format("truetype");
  }
  @font-face {
    font-family: "Ranade";
    src: local("Ranade-Regular"),
      url("./fonts/Ranade-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Chillax";
    src: local("Chillax-Medium"),
      url("./fonts/Chillax-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "GeneralSans";
    src: local("GeneralSans-Regular"),
      url("./fonts/GeneralSans-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Satoshi";
    src: local("Satoshi-Regular"),
      url("./fonts/Satoshi-Regular.ttf") format("truetype");
  }
  *{
    padding: 0%;
    margin: 0%;
  }
  body {
    background-color: #111927;
  }